* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

img {
    margin: 76px 660px 60px 660px;
}

div {
    text-align: center;

}

button {
    position: absolute;
    left: 42%;
    margin-top: 40px;
    border-radius: 10px;
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    width: 342px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5px;
    cursor: pointer;
}

button:hover {
    opacity: .9;
    transform: scale(1.03);
    transition: 0.2s;
}

button:active {
    opacity: .7;
}

.inputmin,
.inputmax {
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    width: 342px;
    height: 50px;
    margin-left: 40px;
    margin-top: 30px;
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
}

.result-input {
    position: absolute;
    left: 42%;
    margin-top: 140px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    width: 342px;
    height: 50px;
    font-size: 30px;
    color: #fff;
    box-shadow: 1px 1px 10px 10px rgba(236, 103, 103, 0.2);
}



@media (max-width: 767px) {
    img {
        margin: 76px auto 60px 10px;
        max-width: 96%;
    }

    button {
        left: 10.4%;
        margin-top: 40px;
        width: 80%;
        max-width: 342px;
        height: 72px;
        line-height: 72px;
        font-size: 24px;
    }

    .result-input {
        left: 10.4%;
        margin-top: 130px;
        width: 80%;
        max-width: 342px;
        height: 50px;
        line-height: 72px;
        font-size: 24px;

    }

    .inputmin,
    .inputmax {
        width: 80%;
        max-width: 342px;
        height: 40px;
        margin: 15px auto;
        font-size: 24px;
    }
}